@use "../../partials/_colours.scss" as c;

.meal-card {
  width: 200px;
  height: 100%;
  background-color: c.$cool-gray;
  border-radius: 10px;
//   flex: 1;

  &__content {
    color: c.$yale-blue;
    padding-block: 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
  }
}
