@use "../../partials/_colours.scss" as c;

.meal-card {
  width: 200px;
  height: 100%;

  &__content {
    color: c.$dark-brown;
    padding-block: 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
  }
  &__link{
    text-decoration: none;
  }
  &__img{
    border-radius: 10px;
  }
}
