@use "../../partials/_mixins.scss" as m;
@use "../../partials/_colours.scss" as c;

.header {
  border-bottom: 1px solid c.$dark-beige;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  @include m.tablet {
    padding-left: 3rem;
  }
  @include m.desktop {
    padding-left: 20rem;
  }

  &__name {
    @include m.default-typo;
    background: linear-gradient(135deg, #8b4513, #ff4500, #ffa500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    @include m.tablet {
      font-size: 1.75rem;
    }
    @include m.desktop {
      font-size: 2.5rem;
    }
  }

  &__emoji {
    @include m.tablet {
      font-size: 1.75rem;
    }
    @include m.desktop {
      font-size: 2.5rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    @include m.tablet {
      flex-direction: row;
    }
  }

  &__link {
    font-size: 1rem;
    text-align: center;
    padding-left: 1rem;
    color: c.$brown;
    text-decoration: none;
  }

  &__img {
    width: 200px;
    padding-top: 1rem;
  }
}
