$white: hsla(0, 0%, 100%, 1);
$lavender-pink: hsla(334, 70%, 80%, 1);
$cool-gray: hsla(246, 29%, 72%, 1);
$silver-lake-blue: hsla(208, 41%, 53%, 1);
$yale-blue: hsla(207, 88%, 20%, 1);
$off-white: #FDF5F1;
$warm-beige: #F4E3D3;
$dark-beige: #e5bc96;
$brown: #8b4513;
$dark-brown: #48240a;
$background-beige: #fdf8f1;
$gradient-beige: linear-gradient(0deg,#e5bc96, #FDF5F1, white);
$gradient-beige-right: linear-gradient(70deg,#e5bc96, #FDF5F1, white);

/* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #FFFFFFff, #F0AAC8ff, #A7A3CCff, #568AB9ff, #063862ff);
// $gradient-right: linear-gradient(90deg, #FFFFFFff, #F0AAC8ff, #A7A3CCff, #568AB9ff, #063862ff);
// $gradient-bottom: linear-gradient(180deg, #FFFFFFff, #F0AAC8ff, #A7A3CCff, #568AB9ff, #063862ff);
// $gradient-left: linear-gradient(270deg, #FFFFFFff, #F0AAC8ff, #A7A3CCff, #568AB9ff, #063862ff);
// $gradient-top-right: linear-gradient(45deg, #FFFFFFff, #F0AAC8ff, #A7A3CCff, #568AB9ff, #063862ff);
// $gradient-bottom-right: linear-gradient(135deg, #FFFFFFff, #F0AAC8ff, #A7A3CCff, #568AB9ff, #063862ff);
// $gradient-top-left: linear-gradient(225deg, #FFFFFFff, #F0AAC8ff, #A7A3CCff, #568AB9ff, #063862ff);
// $gradient-bottom-left: linear-gradient(315deg, #FFFFFFff, #F0AAC8ff, #A7A3CCff, #568AB9ff, #063862ff);
// $gradient-radial: radial-gradient(#FFFFFFff, #F0AAC8ff, #A7A3CCff, #568AB9ff, #063862ff);