$white: hsla(0, 0%, 100%, 1);
$lavender-pink: hsla(334, 70%, 80%, 1);
$cool-gray: hsla(246, 29%, 72%, 1);
$silver-lake-blue: hsla(208, 41%, 53%, 1);
$yale-blue: hsla(207, 88%, 20%, 1);
$off-white: #FDF5F1;
$warm-beige: #F4E3D3;
$dark-beige: #e5bc96;
$brown: #8b4513;
$dark-brown: #932d00;
$background-beige: #fdf8f1;
$background-yellow: #ffe578;
$red: #df4500;
$gradient-beige: linear-gradient(0deg,#e5bc96, #FDF5F1, white);
$gradient-beige-right: linear-gradient(70deg,#e5bc96, #FDF5F1, white);
$gradient-bottom: linear-gradient(180deg,#ff996c, #FDF5F1, white);
$gradient-radial: radial-gradient(#e5bc96, #FDF5F1, white);
